.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}

@media (min-width: 1600px) {
  .container {
      max-width: 1880px;
      width: 70%;
  }
}

@media (min-width: 1900px) {
  .container {
      max-width: 1900px;
  }
}

.lamp-hero {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-80%, -26%);
  height: 65%;
}

@media (max-width: 1460px) {
  .lamp-hero {
    left: auto;
    right: 0;
    transform: translate(15%, -22%);
    height: 40%;
  }

  .hero-content {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .lamp-hero {
    transform: translate(38%, -25%);
    height: 40%;
  }
}

@media (max-width: 637px) {
  .lamp-hero {
    transform: translate(49%, -27%);
    height: 40%;
  }
}

.sofa-hero {
  transform: translateX(25%) scale(1);
  animation: keepScaling 2s steps(1, start) infinite;
  animation-timing-function: ease-out;
}

@keyframes keepScaling {
  50% {
    transform: translateX(25%) scale(1.05);
  }
}

@media (max-width: 1460px) {
  .sofa-hero {
    transform: translateX(0%) scale(1);
  }

  @keyframes keepScaling {
    50% {
      transform: translateX(0%) scale(1.05);
    }
  }
}

.featured-product > div:first-child > div,
.featured-product > div:first-child > button {
  visibility: hidden;
  opacity: 0;
}

.featured-product > div:first-child > div,
.featured-product > div:first-child > button,
.featured-product > .featured-product-content {
  transition: 1s;
}

.featured-product:hover > div:first-child > div,
.featured-product:hover > div:first-child > button {
  visibility: visible;
  opacity: 1;
}

.featured-product:hover > .featured-product-content {
  color: white;
  background-color: #2F1AC4;
}

/* =============================================================== */
/* ========================= LATEST CARD ========================= */
/* =============================================================== */

.latest-product-card > div:first-child > div {
  visibility: hidden;
  opacity: 0;
}

.latest-product-card:hover > div:first-child > div {
  visibility: visible;
  opacity: 1;
}

/* ======================================= */
/* ============= SALE RIBBON ============= */
/* ======================================= */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  outline: none;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 200px;
  padding: 10px 0;
  background-color: #3F509E;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 600 16px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon-top-left {
  top: -5px;
  left: -5px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: 10px;
  top: 20px;
  transform: rotate(-45deg);
}